.header{
    position: fixed;
    top: 0;
    z-index: 100000;
    width: 100vw;
    background-color: var(--base);
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px var(--grey01);

    &-logo{
        height: 20.95px;
    }

    &-nav{

        &_hamburger {
            display: none;
            background: none;
            border: none;
            height: 24px;
            cursor:pointer;

            &-icon{
                height: 24px;
            }
        }

        .menu.active{
            width: 100vw;
            height: calc(100vh - (40px + 16px));
            padding: 80px 16px 16px 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-color: var(--base);

            .menu_list{
                height: 168px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;

                &-btn{
                    height: 40px;
                    padding: 8px 16px;
                    font: var(--link-xs-font);
                    font-size: 18px;
                    line-height: 27px;
                    text-decoration: var(--link-xs-text-decoration);
                    text-align: center;
                    color: var(--grey02);
                    border: none;
                    background-color: transparent;

                    a:visited{
                        color: var(--grey02);
                    }

                    a:-webkit-any-link{
                        color: var(--grey02);
                    }

                    &:hover{
                        text-decoration: underline;
                    }

                }
                
            }
        }

    }


}





@media (max-width: 1439px) {
    .header-nav_hamburger {
      display: block;
    }
  
    .menu {
      display: none;
      flex-direction: column;
      gap: 0.5rem;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #333;
      width: 100%;
      padding: 1rem;
    }
  
    .menu.active {
      display: flex;
    }
}

@media screen and (min-width: 1440px) {
    .header{

        height: 85px;
        padding: 0 72px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-logo{
            height: 34px;
        }

        &-nav{

            width: fit-content;

            &_hamburger{
                display: none;
            }

            .menu{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                gap: 32px;
    
                &_list{
                    display: flex;
                    flex-direction: row;
                    gap: 32px;
                    justify-content: flex-start;
                    width: 100%;

                    &-btn{
                        height: 40px;
                        font: var(--link-xs-font);
                        font-size: 18px;
                        line-height: 27px;
                        text-decoration: var(--link-xs-text-decoration);
                        text-align: center;
                        color: var(--grey02);
                        border: none;
                        background-color: transparent;
                        text-wrap: nowrap;
    
                        a:visited{
                            color: var(--grey02);
                        }
    
                        a:-webkit-any-link{
                            color: var(--grey02);
                        }
    
                        &:hover{
                            text-decoration: underline;
                        }
    
                    }
                }
            }
        }
    }
}

  