.hero{

    padding: 112px 16px 48px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

    &-h1{
        font: var(--h1-xs-font);
        text-decoration: var(--h1-xs-text-decoration);
        text-align: center;
        color: var(--grey03);
    }

    &-text{
        font: var(--p1-xs-font);
        text-align: center;
        color: var(--grey03);
    }

    &-btn{

        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 16px 0;
        width: 100%;
    }

    &-imgs{
        width: 342px;
        padding-top: 24px;
        margin: 0 -16px;
        display: flex;
        justify-content: space-between;

        &_1, &_2{
            height: 100px;
            width: 143px;
        }

        &_1{
            transform: scaleX(-1);
            opacity: 0;
        }
    }
}
