.hero{

    padding: 112px 16px 48px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    width: 100%;

    &-h1{
        font: var(--h1-xs-font);
        text-decoration: var(--h1-xs-text-decoration);
        text-align: center;
        color: var(--grey03);
        height: 48px;
    }

    &-text{
        font: var(--p1-xs-font);
        text-align: center;
        color: var(--grey03);
        height: 40px;
    }

    &-btn{

        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 16px 0;
        width: 100%;
    }

    &-imgs{
        padding-top: 24px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        min-width: 342px;


        &_1, &_2{
            height: 100px;
            width: 143px;
        }

        &_1{
            transform: scaleX(-1);
            opacity: 0;
        }

    }
}
