.politicaPrivacidad{

    padding: 48px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &_h2{
        font: var(--h2-xs-font);
        color: var(--grey03);
    }

    &_h3{
        font: var(--h3-xs-font);
        color: var(--grey03);
    }

    &_responsable{

        display: flex;
        flex-direction: column;

    
        
        &-p{
            font: var(--p1-xs-font);
            color: var(--grey03);
        }
    
        &-address{
            font: var(--p1-xs-font);
            color: var(--primary);
            text-decoration: underline;
    
            a:visited{
                color: var(--primary);
            }
        }

        &-email{
            font: var(--p1-xs-font);
            color: var(--primary);
            text-decoration: underline;
    
            a:visited{
                color: var(--primary);
            }
            a:-webkit-any-link{
                color: var(--primary);
            }
        }
    }

    &_p{
        font: var(--p1-xs-font);
        color: var(--grey03);
    }

    &_address{
        font: var(--p1-xs-font);
        color: var(--primary);

        a:visited{
            color: var(--primary);
        }
        a:-webkit-any-link{
            color: var(--primary);
        }
    }

    &_email{
        font: var(--p1-xs-font);
        color: var(--primary);
        text-decoration: underline;

        a:visited{
            color: var(--primary);
        }
        a:-webkit-any-link{
            color: var(--primary);
        }
    }

    @media screen and (min-width:1440px) {

        gap:0;

        &_h2{
            font-size: 48px;
            line-height: 72px;
        }

        &_responsable{
            &-p{
                font-size: 18px;
                line-height: 27px;
                padding-top: 8px;
            }

            &-address, &-email{
                font-size: 18px;
                line-height: 27px;
            }
        }

        &_h3{
            font-size: 32px;
            line-height: 40px;
            padding-top: 24px;  
        }

        &_p{
            font-size: 18px;
            line-height: 27px;
            padding-top: 8px;
        }

        &_address, &_email{
            font-size: 18px;
            line-height: 27px;
        }
    }
    
}