.reserva{

    padding: 48px 16px;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &-h2{
        font: var(--h2-xs-font);
        color: var(--grey03);
        text-align: center;
        margin-bottom: 8px;
    }

    &-text{
        font: var(--p1-xs-font);
        color: var(--grey03);
        text-align: center;
        margin-bottom: 16px;
    }

    &-card{
        margin-top: 16px;
        background-color: var(--base);
        width: 100%;
        border-radius: 16px;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: var(--box-shadow-img);

        &_h3{
            font: var(--h3-xs-font);
            color: var(--grey03);
            margin-bottom: 16px;
            text-align: center;
        }

        &_text{
            font: var(--p1-xs-font);
            color: var(--grey03);
            text-align: center;
            margin-bottom: 16px;
        }

        &_btn{
            width: 100%;
            
            &-link{
                display: flex;
                align-items: center;
                gap: 8px;
                justify-content: center;
                font: var(--md-btn);
                color: var(--base);
                text-align: center;         
                a:visited{
                    color: var(--base);
                }

                &_icon{
                    height: 24px;
                }

                &_text{
                    font: var(--md-btn);
                    text-align: center;
                    a:visited{
                    color: var(--base);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px){
    .reserva{
        padding: 56px 24px;

        &-cards{
            display: flex;
            gap: 24px;
            width: 100%;
            max-width: 1000px;
        }

        &-card{
            width: 100%;
            align-items: flex-start;
            justify-content: space-between;
            
            &_h3{
                text-align: left;
                height: 28px;
            }

            &_text{
                text-align: left;
            }

            &_btn{
                width: 100%;
                justify-self: flex-end;

                & md-filled-button{
                    width: 100%;
                }
            }
        }  
    }

}

@media screen and (min-width: 1440px) {
    .reserva{

        padding: 85px 0;

        &-h2{
            font-size: 48px;
            line-height: 72px;
        }

        &-text{
            font-size: 18px;
            line-height: 27px;
            margin-bottom: 24px;
        }

        &-cards{
            max-width: 1000px;
            
        }

        &-card{
            margin: 0;
            padding: 32px;
            gap: 24px;

            &_h3{
                font-size: 32px;
                line-height: 40px;
            }

            &_text{
                font-size: 18px;
                line-height: 27px;
                margin-bottom: 0;
            }

            .cardText{
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            &_btn{
                width: auto;
            }
        }
    }
}