.sobreMi{
    padding: 48px 16px;

    &-sect{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        width: 100%;   
    }
    
    &-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0% 20%;
        box-shadow: var(--box-shadow-img);
        border-radius: 16px;
    }

    &-sobre{
        width: 100%;
    }

    &-h2{
        font: var(--h2-xs-font);
        color: var(--grey03);
        padding-top: 16px;
        align-self: flex-start;
        margin-bottom: 16px;
    }

    &-text{
        font: var(--p1-xs-font);
        color: var(--grey03);
        margin-bottom: 8px;
    }

    &-link{
        display: block;
        margin-top: 16px;
        width: 100%;
        height: 40px;
    }
}

@media screen and (min-width: 768px) {
    .sobreMi{
        padding: 56px 24px;
        max-width: 1000px;
        margin: auto;

        &-sect{
            flex-direction: row-reverse;
            gap: 24px;
            align-items: flex-start;
            justify-content: flex-start;
        }
        

        &-sobre{
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &-h2{
            margin-bottom: 0;
            padding-top: 0;
        }

        &-text{
            margin-bottom: 0;
        }

        &-img{
            width: 260px;
            height: 260px;
        }

        &-link{
            width: fit-content;
        }
    }
}

@media screen and (min-width: 1440px) {
    .sobreMi{
        padding: 85px 0;
        display: flex;
        justify-content: center;

        &-sect{
            max-width: 1000px;
            gap: 64px;
        }
        
        &-h2{
            font-size: 48px;
            line-height: 72px;
        }

        &-text{
            font-size: 18px;
            line-height: 27px;
        }

        &-link{
            padding-top: 16px;
        }

        &-img{
            height: 331px;
            width: 331px;
        }
        
    }
}