.terapia{

    padding: 48px 16px;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;

    &-img{
        margin-bottom: 16px;
    }

    &-h2{
        padding-top: 16px;
        font: var(--h2-xs-font);

    }

    &-text{
        font: var(--p1-xs-font);
        padding-top: 8px;
    }

    &-btn{
        height: 40px;
        padding: 8px 16px;
        margin-top: 16px;
        border: none;
        border-radius: 4px;
        background-color: var(--primary);
        font: var(--md-btn);
        color: var(--base);
        text-align: center;
                
        a:visited{
            color: var(--base);
        }
    }
}