.terapia{

    padding: 48px 16px;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-img{
        //margin-bottom: 16px;
    }

    &-h2{
        padding-top: 16px;
        font: var(--h2-xs-font);
        color: var(--grey03);

    }

    &-text{
        font: var(--p1-xs-font);
        color: var(--grey03);
        //padding-top: 8px;
    }
}