.terapia{

    padding: 48px 16px;
    background-color: var(--secondary);
    

    &-sect{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &-group{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &-img{
        border-radius: 16px;
        box-shadow: var(--box-shadow-img);
    }

    &-h2{
        padding-top: 16px;
        font: var(--h2-xs-font);
        color: var(--grey03);
    }

    &-par{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &-text{
        font: var(--p1-xs-font);
        color: var(--grey03);
    }
}

@media screen and (min-width: 768px) {
    .terapia{
        padding: 56px 24px;
        
        &-sect{
            max-width: 1000px;
            margin: auto;
            flex-direction: row;
            gap: 24px;
        }

        &-group{
            gap: 8px;
        }

        &-img{
            width: 260px;
            height: 260px;
        }

        &-h2{
            padding: 0;
        }

        &-par{
            margin-bottom: 16px;
        }
    }

    md-filled-button{
        width: fit-content;
        padding: 8px 16px;
    }
}

@media screen and (min-width: 1440px) {
    .terapia{
        padding: 85px 0;
        display: flex;
        justify-content: center;

        &-sect{
            max-width: 1000px;
            gap: 64px;
            align-items: center;
        }

        &-img{
            height: 331px;
            width: 331px;
        }

        &-group{}

        &-h2{
            font-size: 48px;
            line-height: 72px;
        }

        &-par{
            gap: 16px;
        }
        
        &-text{
            font-size: 18px;
            line-height: 27px;
        }
    }
    
    
}