:root{
    //colours
    --primary: #89033E;
    --primary-10: #89033E1A;
    --primary-selected: #760230;
    --base: #FFFFFF;
    --base-10: #FFFFFF1A;
    --secondary: #FDECF0;
    --grey01: #9E9E9E;
    --grey02: #383838;
    --grey03: #222222;
    --grey04: #000000;
    --error: #B3261E;

    //fonts xs
    --h1-xs-font: 400 32px/40px Baskerville;
    --h1-xs-text-decoration: underline from-font none;
    --h1-xs-text-align: left;

    --h2-xs-font: 400 28px/36px Baskerville;
    --h2-xs-text-decoration: underline from-font none;
    --h2-xs-text-align: center; 
    
    --h3-xs-font: 400 22px/28px Baskerville;
    --h3-xs-text-decoration: underline from-font none;
    --h3-xs-text-align: center;

    --h4-xs-font: 600 14px/20px 'Source Sans 3';
    --h4-xs-text-decoration: underline from-font none;
    --h4-xs-text-align: left;

    --p1-xs-font: 400 16px/24px 'Source Sans 3';
    --p1-xs-text-decoration: underline from-font none;
    --p1-xs-text-align: center;

    --p2-xs-font: 400 12px/16px 'Source Sans 3';
    --p2-xs-text-decoration: underline from-font none;
    --p2-xs-text-align: left;

    --link-xs-font: 400 12px/36px 'Source Sans 3';
    --link-xs-text-decoration: underline from-font none;
    --link-xs-text-align: left;

    //fonts md
    --h1-md: ;
    --h2-md: ;
    --h3-md: ;
    --h4-md: ;
    --h5-md: ;
    --p1-md: ;
    --p2-md: ;
    --p3-md: ;
    --link-md: ;

    --md-btn: 500 16px/24px 'Source Sans 3';


    //fonts xl
    --h1-xl: ;
    --h2-xl: ;
    --h3-xl: ;
    --h4-xl: ;
    --h5-xl: ;
    --p1-xl: ;
    --p2-xl: ;
    --p3-xl: ;
    --link-xl: ;

    //buttons
    //primary
    /* height: 40px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: var(--primary);
    font: var(--md-btn);
    color: var(--base);
    text-align: center;         
    a:visited{
        color: var(--base);
    } */

    //secondary
    /* height: 40px;
    padding: 8px 16px;
    border: 0.8px solid var(--primary);
    border-radius: 4px;
    background-color: transparent;
    font: var(--md-btn);
    text-align: center; 
    a:visited{
        color: var(--primary);
    } */

}